* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #0f001c;
  color: white;
  min-height: 100vh;
  padding: 1rem;
}


.container {
  background: linear-gradient(to bottom, #0e1c2b, #415a77);
  border-radius: 20px;
  max-width: 1620px;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  left: 100px;  
}

.forum {
  font-size: 35px;
  padding-top: 20px;
}

.forum-posts {
  background-color: #2d3f54;
  border-radius: 30px;
  padding: 100px;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 10px;
  padding-bottom: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  left: 23px;
  font-size: 30px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.icons {
  margin-left: 250px;
  cursor: pointer;
  font-size: 45px;
  padding-right: 30px;
}

.tagline {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.quick-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nav-button {
  background: linear-gradient(to bottom, #111e2b, #1d2c3d);
  padding: 4rem;
  border-radius: 35px;
  text-align: center;
  flex: 1;
  margin-right: 15px;
  font-size: 35px;
  cursor: pointer;
  margin-bottom: 10px;
}

.subjects {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  padding-top: 30px;
}

.subject {
  padding: 10;
  border-radius: 16px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  cursor: pointer;
}

.subject span {
  font-size: 28px;
}

.sidebar {
  border-radius: 30px;
  display: flex-start;
  padding: 1rem 0;
  position: fixed;
  bottom: 22rem;
  left: 0;
  right: 107rem;
  max-height: 1000px;
  margin: auto;
}

.sidebar-item {
  display: flex-start;
  flex-direction: column;
  align-items: center;
  font-size: 1.75rem;
  padding: 25px;
  cursor: pointer;
}
